flow.json
[
    {
        "id": "537a35828e054965",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6c245f374ec4f755",
        "type": "inject",
        "z": "537a35828e054965",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 220,
        "wires": [
            [
                "32196f13a44910d0"
            ]
        ]
    },
    {
        "id": "c086d74afab299b4",
        "type": "debug",
        "z": "537a35828e054965",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 220,
        "wires": []
    },
    {
        "id": "32196f13a44910d0",
        "type": "template",
        "z": "537a35828e054965",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 480,
        "y": 220,
        "wires": [
            [
                "c086d74afab299b4"
            ]
        ]
    }
]